/*elements can be selected (Such as a div) via #id*

classes can be selected with .center {}

Specific class elements can be selected with p.center{}*/

body {
  background-color: #ae8799;
}

h1 {
  letter-spacing: -3px;
  text-shadow: 3px 2px white;
}

#page-header{
  color: black;
}

/*Width, padding and border equals 350px (width 320px padding 20px, border 10px)*/
#main-page{
  width: 620px;
  padding: 10px;
  border: 5px;
}

#banner{
  background-color: #c95d63;
  margin: 0px;
}

#navbar {
  height: 35px;

}

ul{
  overflow: hidden;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
  padding: 8px 15px 3px 15px;
  background-color: #c95d63;
}
#about {
  border-radius: 0px 0px 0px 10px;
}
#blog {
  border-radius: 0px
}
#projects {
  border-radius: 0px 0px 10px 0px;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  padding-top: 12px;
  text-decoration: none;
}

li:hover {
  padding-top: 12px;
  background-color: #496ddb;
  text-decoration: none;
}
