body {
    /* The image used */
  background-image: url("coffee.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: arial, helvetica;
}

h1 {
  font-size: 3em;
  letter-spacing: -3px;
  text-shadow: 3px 2px #c6ac8f;
}

#headerText {
  color: white;
}

#content-header {
  font-family: helvetica;
  font-size: 20px;
  text-align: center;

}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 160px 380px;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  grid-template-areas:
  "header header"
  "content content";
}

.header {
  grid-area: header;
  text-align: center;
  border-radius: 2px;
}

.navItem {
    background-size: cover;
  }

#about {
  background-image: url("about.jpg");
}
#blog {
  background-image: url("blog.jpg");
}
#projects {
  background-image: url("projects.jpg");
}

.content {
  flex-direction: column;
  grid-area: content;
  display: flex;
}

.navItem {
  border-radius: 2px;
  padding: 20px 30px;
  margin: auto;
  width: 90%;
  cursor: pointer;
  background-color: #eae0d5;
}


/* Top Nav */
.navTop {
  grid-area: navTop;
}

ul{
  overflow: hidden;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: solid 0.5px; border-left: solid 0.5px; border-right: solid 0.5px;
}

li {
  float: left;
  display: inline;
  padding: 8px 15px 3px 15px;
  background-color: #eae0d5;
  height: 35px;
  cursor: pointer;
}

a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  padding-top: 12px;
  text-decoration: none;
}

li:hover {
  padding-top: 12px;
  background-color: #496ddb;
  text-decoration: none;
}




/* for standard desktop webpage */
@media screen and (min-width: 746px)
{
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 160px 40px 380px;
    grid-template-areas:
    ". header header header ."
    ". navTop navTop navTop ."
    ". content content content .";
  }

  .navItem {
    opacity: 0.5;
    /* For Jquery Animation */
    height: 10px;
    width: 25%;
  }

  #about:hover, #blog:hover, #projects:hover {
    opacity: 1;
    text-shadow: 3px 2px #c6ac8f;
  }

  .content {
    flex-direction: row;
    display: flex;
  }
}
