.contacts {
	text-decoration: none;
	&--list {
		list-style: none;
		padding: 1rem 0 1rem 0;
		display: block;
		position: inherit;
		right: 1rem;
		&--item--link {
			text-decoration: none;
			&--text:hover {
			  transition: 1s;
			  cursor: pointer;
			  color: black; 
			}

		}
	}
}


