/* Global */
body {
  padding: 0;
  margin: 0;
  font-size: 1.4rem;
  font-family: sans-serif, georgia;
}

html {
	font-size: 62.5%;
}

h1, h2, h3, li {
  color: #F64C72;
}

h2 {
  text-align: center;
  border-radius: 0.3125rem;
  padding: 0px;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

#liNav {
  text-shadow: 0.125rem 0.125rem #591A1A; 
}

.sectionChild {
	opacity: 0.2;
  background-color: white;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 0.625rem;
  padding-bottom: 0.125rem;
  position: relative;
  max-width: 80rem;
  left: 50%;
  transform: translateX(-50%);

}

/* Header */

.header {
  min-height: 10rem;
  border-bottom: solid 0.5px;
  background-color: #2F2FA2;
  text-align: center;
}

.header--container {
  padding: 0px 3.125rem 0px 3.125rem;
  margin: auto;
  overflow: hidden;
}

.header--container--link, .navA {
  text-decoration: none;
  color: inherit;
}

.header--container--logo {
  float: left;
  font-size: 3rem;
  letter-spacing: -0.1875rem;
  text-shadow: 0.1875rem 0.125rem #553D67;
  position: relative;
  bottom: 1rem;
}

.header--container--tagline {
	font-size: 1.4rem;
	float: right;
	color: white;
	position: relative;
}

/* Chrome */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	.header--container--logo {
		left: 4rem;
	}
	.header--container--tagline {
		right: 4rem;
	}
}
/* Firefox */
@-moz-document url-prefix() {
    .header--container--logo {
		left: 0;
	}
	.header--container--tagline {
		right: 0;
	}
}

@media (max-width:68.75rem) {
	.header--container--logo {
	  bottom: 1rem;
	  left: 50%;
	  transform: translateX(-50%)
	}

	.header--container--tagline {
		position: relative;
		right: 50%;
		transform: translateX(50%)
	}
}

/* Nav */

nav {
  height:1.87rem;
  font-size: 1.5em;
  background-color: #2f2fa2;
  border-bottom: solid 0.5px;
  text-align: center;
}

li {
  display: inline-block;
  padding: 0px 1.25rem 0px 1.25rem;
  opacity: 1;
}

ul {
  margin-top: 0px;
  display: inline-block;
  position: relative;
  right: 25rem;
}

/* Section */

section {
  margin: auto;
  padding: 0.625rem 20% 3.125rem 20%;
  text-align: justify;
  background-image: linear-gradient(to right bottom, rgba(18, 18, 64, 0.8), rgba(67, 67, 137, 0.4)), url("img/background.png");
  background-size: cover;
}

/* Heading */

.heading {
	margin: .5rem 0 1rem 0;
}

.heading--animation {
	background: #2f2fa2;
	height: 5px;
	animation: h2Animation 1.5s ease-out;
}

@keyframes h2Animation {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}


/* Footer */

footer {
  text-align: center;
  min-height: 3.125rem;
  max-height: 4.375rem;
  background-color: #2F2FA2;
}

footer p {
  padding: 1.25rem 0px 1.25rem 0px;
  margin: auto;
  color: white;
}

/* Mobile Devices */

/* Footer - Mobile */
@media (min-width: 68.75rem) and (max-width: 106.3rem) { 
  footer{
    margin: 0px;
  }
}

@media (max-width:68.75rem) {
 .header--container {
  max-width: 63.5rem;
 }

 /* Nav Items - Mobile */

 .header {
  border-color: white;
 }

 nav {
  padding: 0px;
  height: 7.7rem;
  border-bottom: none;
 }

 .navButtons {
   background-color: #2F2FA2;
   text-align: center;
 }

  ul {
    display: inherit;
	position: inherit;
	padding:0;
  }

  li {
    width: 100%;
    padding: 0px;
    border-bottom: solid 0.5px;
    border-color: white;
  }

  h3 {
    text-align: center;
  }

  /* Footer - Mobile */

    footer {
    margin: 0% 0px 0px 0px; 
  } 

}


@media (max-width: 42.5rem) {
  nav {
    background-color: transparent;
  }
}



@media (max-width: 42.5rem) {
  section {
    padding: 0px;
  }
}

/* Desktop */

@media (min-width:68.75rem) {
.header--container {
  max-width: 95rem; 
  position: relative;
  top: 2.5rem;
 }

 /* Nav Items - Desktop */

 #li {
   height: 1.563rem;
 }

 .header--container--logo:hover,.navButtons:hover {
   transition: 1s;
   cursor: pointer;
   color: white;
 }



 /* Section - Desktop */

 h3 {
   text-align: left;
 }
}

/* Home */

#sect-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#sect-main {
  width: 100%;
}

#sect1, #sect2 {
  width: 50%;
}

#sect1 {
	padding-right: 0.3125rem;	
}

#sect2 {
	padding-left: 0.3125rem;
}

.h2Index {
	font-size: 1.1em;
	text-shadow: none;
	margin-left: 0.75rem;
	position: relative;
}

.contacts:hover {
  transition: 1s;
  opacity: 1;
  border-radius: 0.3125rem;

}

.contacts {
	position: relative;
	top: .25rem; 
  opacity: 0.5;
  display: flex;
  flex-direction: row;

}

#github, #email {
  height: 3.125rem;
}

/* Home - Mobile */

@media(max-width: 68.75rem) {
  #sect-bottom {
    display: inherit;
  }
  
  #sect1, #sect2 {
    width: 100%;
	padding: 0;
  }

}

@media(min-width: 68.75rem and max-width: 1200px ){
   .h2Index {
    font-size: 0.5em;
  } 
}


/* Projects */
#getittogether {
  margin: 0px 0px 0px 3.125rem;
  width: 25rem;
  float: right;
  position: relative;
}

@media(max-width: 68.75rem) {
	#getittogether {
		text-align: center;
		float: none;
	}
}

/* About Page */

/* Images */

#express {
  height: 60px;
}

.languagePictures {
  text-align: center;
  margin: 0 auto;
  display: block;
  max-width: 800px;
}

.languages {
  height: 80px;
  padding: 0px 0.625rem 0px 0.625rem;
}

#languageList {
  text-align: center;
}

/* About Page - Mobile */
@media (max-width:71.875rem) {
  .languages {
    height: 40px;
  }

  #express {
    height: 25px;
  }
}

/* Blog Page */

.myposts {
	position: relative;
	right:0;

}
