<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
	<meta name="description" content="Developer fluent in HTML, CSS, JavaScript and several frameworks on top of this." /> 
    <link rel="alternate" type="application/rss+xml"  href="{{ site.url }}/feed.xml" title="{{ site.title }}">
	<link rel="stylesheet" href="{{ site.url }}/assets/css/styles.css">
    <title>{{ page.title }} | {{ site.title }} </title>
  </head>
  <body>
	<noscript>
		<style>
		.sectionChild {
			opacity: 1;
		}
		nav {
			height: 2.7rem;
			}
		@media (max-width:68.75rem) {
			 nav {
			  height: 7.7rem;
			 }
		}
		</style>
	</noscript>
    <header class="header">
      <div class="header--container">
		<h1>
        {% if page.title != 'Home' %}
          <a href="/" class="header--container--link"><span class="header--container--logo">Trains, Planes and Video Games</span></a>
        {% else %}
          <span class="header--container--logo">Trains, Planes and Video Games</span>
        {% endif %}
        <span class="header--container--tagline">Murmurrings of a twenty-something amateur developer</span>
		</h1>
      </div>
    </header>
    <nav>
       <ul class="nav--ul" id="unorderedList">
        {% assign mypages = site.data.navigation| sort: "order" %}
          {% for site in mypages %}
            <a class="navA" href="{{ site.url | absoloute_url }}"><li class="nav--ul--buttons" id="liNav">{{ site.title }}</li></a>
          {% endfor %}
      </ul>
    </nav>
    <section>
      <div class="sectionChild">

      {{ content }}

    </section>
    <footer>
      <p id="copyright">Website by Tim New, &copy; 2019</p>
    </footer>
  </body>
</html>
