/* Section */

section {
  margin: auto;
  padding: 2.625rem 20% 3.125rem 20%;
  text-align: justify;
}

.sectionChild {
	background-color: white;
	padding-left: 0.625rem;
	padding-right: 0.625rem;
	padding-top: 0.625rem;
	padding-bottom: 0.125rem;
	position: relative;
	max-width: 80rem;
	left: 50%;
	transform: translateX(-50%);

}

@media (max-width: 42.5rem) {
  section {
    padding: 0px;
  }
}

