/* Global */

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 1.4rem;
  font-family: sans-serif, georgia;
  background-image: linear-gradient(to right bottom, 
  					rgba(18, 18, 64, 0.8), 
					rgba(67, 67, 137, 0.4)), 
					url("../img/background.png");
  background-size: cover;
}

html {
	position: relative;
	font-size: 62.5%;
	min-height: 100%;
}

h1, h2, h3, li {
  color: #F64C72;
}

h2 {
  text-align: center;
  border-radius: 0.3125rem;
  padding: 0px;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

#liNav {
  text-shadow: 0.125rem 0.125rem #591A1A; 
}


@media (max-width: 42.5rem) {
  body {
    background: 0;
  }
}


.sectionChild {
	background-color: white;
	padding-left: 0.625rem;
	padding-right: 0.625rem;
	padding-top: 0.625rem;
	padding-bottom: 0.125rem;
	position: relative;
	max-width: 80rem;
	left: 50%;
	transform: translateX(-50%);

}

